@import "./components/variables";

//custom class
.mx-n30 {
    margin:0 -30px !important;
}

.px-30 {
    padding:0 30px !important;
}

.w-140px {
    width: 140px !important;
}

.w-144px {
    width:144px !important;
}

.w-190px {
    width:190px !important;
}

.w-320px {
    width:320px !important;
}

.min-w-120px{
    min-width:120px !important;
}

.min-w-170px {
    min-width:170px !important;
}

.min-w-210 {
    min-width:210px !important;
}

.min-w-1100 {
    min-width:1100px !important;
}

.min-w-1200 {
    min-width:1200px !important;
}

.min-w-1300 {
    min-width:1300px !important;
}

.min-w-1400 {
    min-width:1400px !important;
}

.min-w-1500 {
    min-width:1500px !important;
}

.min-w-1600 {
    min-width:1600px !important;
}

.min-w-1700 {
    min-width:1700px !important;
}

.min-w-1800 {
    min-width:1800px !important;
}

.min-w-1900 {
    min-width:1900px !important;
}

.min-w-2000 {
    min-width:2000px !important;
}

.min-w-2100 {
    min-width:2100px !important;
}

.min-w-2200 {
    min-width:2200px !important;
}

.min-w-2300 {
    min-width:2300px !important;
}

.min-w-2400 {
    min-width:2400px !important;
}

.min-w-2500 {
    min-width:2500px !important;
}

.min-w-2600 {
    min-width:2600px !important;
}

.min-w-2700 {
    min-width:2700px !important;
}

.min-w-2800 {
    min-width:2800px !important;
}

.min-w-2900 {
    min-width:2900px !important;
}

.min-w-3000 {
    min-width:3000px !important;
}

.min-w-3100 {
    min-width:3100px !important;
}

.min-w-3200 {
    min-width:3200px !important;
}

.min-w-3300 {
    min-width:3300px !important;
}

.min-w-3400 {
    min-width:3400px !important;
}

.min-w-3500 {
    min-width:3500px !important;
}

.min-w-3600 {
    min-width:3600px !important;
}

.min-w-3700 {
    min-width:3700px !important;
}

.min-w-3800 {
    min-width:3800px !important;
}

.min-w-3900 {
    min-width:3900px !important;
}

.min-w-4000 {
    min-width:4000px !important;
}

.min-w-4100 {
    min-width:4100px !important;
}

.min-w-4200 {
    min-width:4200px !important;
}

.min-w-4300 {
    min-width:4300px !important;
}

.min-w-4400 {
    min-width:4400px !important;
}

.min-w-4500 {
    min-width:4500px !important;
}

.min-w-4600 {
    min-width:4600px !important;
}

.min-w-4700 {
    min-width:4700px !important;
}

.min-w-4800 {
    min-width:4800px !important;
}

.min-w-4900 {
    min-width:4900px !important;
}

.min-w-5000 {
    min-width:5000px !important;
}

.min-w-5500 {
    min-width:5500px !important;
}

.min-w-6000 {
    min-width:6000px !important;
}

.w-sm-1500px {
    width:1500px !important;
}

.h-34px {
    height:34px !important;
}

.h-47px {
    height:47px !important;
}

.h-96px {
    height: 96px !important;
}

.h-530px {
    height: 530px !important;
}

.bg-graybg {
    background-color:#ebecf5 !important;
}

.word-keep-all {
    word-break: keep-all;
}

.ls-03em {
    letter-spacing: -0.03em !important;
}

.ls-04em {
    letter-spacing: -0.04em !important;
}

.ls-05em {
    letter-spacing: -0.05em !important;
}

.ls-06em {
    letter-spacing: -0.06em !important;
}

.ls-09em {
    letter-spacing: -0.09em !important;
}

.ls-065em {
    letter-spacing: -0.065em !important;
}

.fs-12px {
    font-size:12px !important;
}

.fs-14px {
    font-size:14px !important;
}

.px-30px {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.table-layout-fixed {
    table-layout: fixed !important;
}

.select2-results__option:hover {
    background-color: #F0F0F0 !important;
    color: #000 !important;
}
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected {
    background-color:#000 !important;
    color:#fff !important;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--highlighted {
    background-color:#fff;
    color:#363a4d;
}

.btn-outline-white {
    color:#C4C8CC;
    border:1px solid #C4C8CC;
}

.border-style-solid {
    border-style:solid !important;
}

.pop-center {
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.bg-card {
    background-color:rgba(248, 246, 242, 0.3) !important;
}

.rounded-5 {
    border-radius:1.5rem !important;
}

.right-20px {
    right: 20px !important;
}

.top-75px {
    top:75px;
}

.mt-n05 {
    margin-top: -0.05rem !important;
}

.ls-n {
    letter-spacing:normal;
}

.tr-sticky {
    position:sticky;
    top:0;
    background-color:#FDFDFD;
    z-index: 9;
}

.card-body .table-responsive table {
    border-collapse: separate;
    border-spacing: 0;
}

.badge.badge-count {
    height: 22px !important;
    background-color: #e1e2e5;
    color: #1E1E1E;
}

@media screen and (max-width:620px) {
    .mb-ssm-2 {margin-bottom:0.5rem;}
    .mt-ssm-2 {margin-top:0.5rem;}
}

//유효성 검사
.valid-card label.error {
    font-size: 0.925rem;
    color: #F06445;
    margin-top: 0.5rem;
}

.valid-card .form-control.error , .valid-card .form-select.error {
    border-color: #F06445;
    padding-right: calc(1.5em + 1.5rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F06445'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F06445' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.375rem) center;
    background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}

.valid-card .input-group-valid {
    position:relative;
    padding-bottom:1.75rem;
}

.valid-card .input-group-valid label.error {
    position:absolute;
    bottom:0;
    margin-top:0;
}

//상품등록,수정 스텝
.step-wrap {
    padding:24px 30px;
    margin:0 -30px;
}

.step-wrap .step-box.active .step-number {
    background-color:#000;
}

.step-wrap .step-box.active .step-text {
    color:#000 !important;
}

@media screen and (max-width: 991.98px){
    .step-wrap {
        padding:16px 20px;
        margin:0 -20px;    
    }
}

//상품등록,수정 네비게이션
.btn-prod-tab-group .btn-prod-tab {
    color: $gray-600;
    background-color: $gray-200;
    border:1px solid $gray-400 !important;
}

.btn-prod-tab-group .btn-prod-tab.active {
    color:#000;
    background-color:#fff;
    border-color:#000;
}

//text color 일괄 적용
.card .table tr.text-gray-400 {
    color: $gray-600 !important;
}

.card .row .col-xl-1 , .card .tbl_basic .col-xl-1 {
    color: $gray-600;
}

//검색 컴포넌트 디자인 적용
.search-table .form-select,
.search-table .select2-container--bootstrap5.select2-container--focus .form-select:not(.form-select-solid):not(.form-select-transparent), .select2-container--bootstrap5.select2-container--open .form-select:not(.form-select-solid):not(.form-select-transparent){
    border-color: #000;
}
.search-table .select2-container--bootstrap5 .select2-selection--single .select2-selection__placeholder {
    color: #000
}
.search-table .flatpickr-input::placeholder {
    color:#000
}
.search-table .btn-outline-white {
    color:#000; border-color:#8a9299
}
.search-table .border,
.search-table .enter-search {
    border-color: #8a9299 !important;
}
.search-table .nav-group {
    background-color:#fff
}
.search-table .nav-group.nav-group-fluid > label {
    margin: 0;
}
.search-table .nav-group label:first-of-type span {
    border-bottom-left-radius:0.95rem !important;border-top-left-radius:0.95rem !important
}
.search-table .nav-group label:last-of-type span{
    border-bottom-right-radius:0.95rem !important;border-top-right-radius:0.95rem !important
}
.search-table .nav-group label span {
    border-right: 0 !important;
}
.search-table .nav-group label:last-child span {
    border-right: 1px solid #8A9299 !important;
}
.search-table .nav-group label .mr-n4 {
    margin-right: -4px !important;
}
.search-table .nav-group label:last-child .mr-n4 {
    margin-right: 0 !important;
}
.search-table .btn-outline-secondary:hover{
    color:#000 !important ;
}
.btn-active-secondary {
    background-color:#fff!important;
}
.search-table .card-footer .btn {
    font-size:14px;
}


//탭메뉴
.nav-wrap.nav-line-tabs.nav-line-tabs-2x,
.nav-wrap.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link,
.nav-wrap.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active,
.nav-wrap.nav-line-tabs.nav-line-tabs-2x .nav-item.show .nav-link,
.nav-wrap.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link:hover:not(.disabled) {border-bottom-width: 3px !important;}
.nav-wrap.nav-line-tabs .nav-item .nav-link.active,
.nav-wrap.nav-line-tabs .nav-item .nav-link:hover:not(.disabled){ color:#3355ff !important;}
.tab-container .btn-check:checked + .btn.btn-active-secondary {background-color:#fff !important; color:#000 !important;}
.tab-container .btn.btn-active-secondary:hover:not(.btn-active) {background-color:#fff !important; color:#000 !important;}
.tab-container .btn-outline-white {border: 1px solid #000 !important;}
.tab-container .navbar .form-check-inline {background-color: #F5F5F5 !important;}
.mall-wrap .btn-outline-white {color: #8A9299 !important}
.mall-wrap .btn {background-color:#f5f5f5 !important;}
.mall-wrap .btn.btn-active-secondary.active,
.mall-wrap .btn.btn-active-secondary:hover:not(.btn-active){background-color:#fff !important}

/* 탭메뉴 이미지 변경 */
.bg-tab-image{ width: 32px;height: 32px; display: inline-block;background-repeat: no-repeat;background-position-x: 50%;}
.bg-tab-image.all-product {background-image: url(/assets/media/icons/icon_product_status_all_inactive.png);}
.bg-tab-image.status-none {background-image: url(/assets/media/icons/icon_product_status_salewaiting_inactive.png);}
.bg-tab-image.status-on {background-image: url(/assets/media/icons/icon_product_status_sale_inactive.png);}
.bg-tab-image.status-updt {background-image: url(/assets/media/icons/icon_product_status_edit_inactive.png);}
.bg-tab-image.status-off {background-image: url(/assets/media/icons/icon_product_status_stop_inactive.png);}
.order-pay {background-image: url(/assets/media/icons/icon_order_pay_inactive.png);}
.order-ready {background-image: url(/assets/media/icons/icon_order_ready_inactive.png);}
.order-truck {background-image: url(/assets/media/icons/icon_order_truck_inactive.png);}
.order-delivery {background-image: url(/assets/media/icons/icon_order_delivery_inactive.png);}
.order-confirm {background-image: url(/assets/media/icons/icon_order_confirm_inactive.png);}
.bg-tab-image.active.all-product {background-image: url(/assets/media/icons/icon_product_status_all_active.png);}
.bg-tab-image.active.status-none {background-image: url(/assets/media/icons/icon_product_status_salewaiting_active.png);}
.bg-tab-image.active.status-on {background-image: url(/assets/media/icons/icon_product_status_sale_active.png);}
.bg-tab-image.active.status-updt {background-image: url(/assets/media/icons/icon_product_status_edit_active.png);}
.bg-tab-image.active.status-off {background-image: url(/assets/media/icons/icon_product_status_stop_active.png);}
.step-box.active .order-pay {background-image: url(/assets/media/icons/icon_order_pay_active.png);}
.step-box.active .order-ready {background-image: url(/assets/media/icons/icon_order_ready_active.png);}
.step-box.active .order-truck {background-image: url(/assets/media/icons/icon_order_truck_active.png);}
.step-box.active .order-delivery {background-image: url(/assets/media/icons/icon_order_delivery_active.png);}
.step-box.active .order-confirm {background-image: url(/assets/media/icons/icon_order_confirm_active.png);}
/* 탭메뉴 이미지 변경 */

/* 작업목록 토스트팝업 */
.taskToast .taskList .taskBox:last-child {
    border-bottom:0 !important;
}

/* 클레임관리 탭 */
.claim-cancel {
    background-image:url(/assets/media/icons/claim_cancel_inactive.png);
}

.claim-return {
    background-image:url(/assets/media/icons/claim_return_inactive.png);
}

.claim-change {
    background-image:url(/assets/media/icons/claim_change_inactive.png);
}

.active .claim-cancel {
    background-image:url(/assets/media/icons/claim_cancel_active.png);
}

.active .claim-return {
    background-image:url(/assets/media/icons/claim_return_active.png);
}

.active .claim-change {
    background-image:url(/assets/media/icons/claim_change_active.png);
}

.drawer .card-body .table tr:last-child , 
.drawer .card-body .table tr:last-child td , 
.drawer .card-body .table tr:last-child th {
    border-bottom:0 !important;
}

.tooltip-inner {background: #000; color: #fff;}
.bs-tooltip-bottom .tooltip-arrow:before {
    background: #fff; border-bottom-color: #000;
}

#searchTab {
    display: block;
    height:0;
    overflow:hidden;
    transition:all 0.5s ease;
}

#searchTab.active {
    height:auto;
}

/* 상태 */
.badge {height:26px; font-weight:700;}
.badge.on {background: #E6EEFF; color: #3355FF;}
.badge.off {background: #EBECF0; color: #2E384D;}
.badge.none {background: #D7FAEE; color: #00997F;}
.badge.updt {background: #FAE6EA; color: #E52E4D;}

/* 테이블 고정 */
th.fixHeader,
td.fixHeader {position: sticky; background: #fdfdfc; z-index: 10;}
th.fixHeader.checkBox,
td.fixHeader.checkBox {width: 60px; left: 0;}
th.fixHeader.goodsImg,
td.fixHeader.goodsImg {width: 80px; left: 60px;}
th.fixHeader.mall,
td.fixHeader.mall {width: 120px; left: 140px;}
th.fixHeader.goodsName,
td.fixHeader.goodsName {width: 200px; left: 260px;}
th.fixHeader.goodsNum,
td.fixHeader.goodsNum {width: 120px; left: 460px;}
td.fixHeader {z-index: 8;}
th.fixHeader.goodsNum:after,
td.fixHeader.goodsNum:after {content: ''; display: block; position: absolute; top: 0; right: 0; width: 8px; height: 100%; background: linear-gradient(90deg, #211F1C 0%, rgba(33, 31, 28, 0) 100%); opacity: 0.04;}


//CKEditor
.ck.ck-editor__editable{
    min-height: 400px;
    margin-bottom: 20px;
}

/* Aside styles */
aside.sidebar-menu {
    flex-direction: column;
    width: 100%;
    font-weight: 700 !important;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    --scrollbar-space: 0.5rem;
}
.sidebar-menu-body > div {
    display: block;
    padding: 0.15rem 0;

    a {
        display: block;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        padding: 0.75rem 0;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        align-items: center !important;
        justify-content: space-between !important;

        .sidebar-menu-nav-title {
            color: #8A9299;
            font-size: 12px !important;
            font-weight: 800;
        }
    }

    a:hover .sidebar-menu-nav-title {
        color: #3355FF;
    }

    button {
        display: block;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        padding: 0.75rem 0;
        width: 100%;
        text-align: left;
        border: 0;
        background-color: #fff;
        padding: 0.15rem 0;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        align-items: center !important;
        justify-content: space-between !important;

        .sidebar-menu-nav-title {
            color: #8A9299;
            font-size: 12px !important;
            font-weight: 800;
        }
    }

    button:hover .sidebar-menu-nav-title {
        color: #3355FF;
    }
}
//bootstrap collapse

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    color: #211F1C;
    text-align: left;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.card-wrap .accordion-button {
    box-shadow: none;
}

.card-wrap .accordion-button::after {
    margin-right:1.75rem;
}

.card-wrap .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23211F1C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

//Table shadow, status badge
.only-checkbox th.fixHeader.checkBox::after, .only-checkbox td.fixHeader.checkBox::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(90deg, #211F1C 0%, rgba(33, 31, 28, 0) 100%);
    opacity: 0.04;
}

th.fixHeader, td.fixHeader {
    position: sticky; background: #fdfdfc; z-index: 8;
    &.checkBox {width: 60px; left: 0;}
    &.orderStatus {width: 110px; left: 60px;}
    &.mallId {width: 160px; left: 170px;}
    &.productName {width: 200px; left: 330px;}
    &.receiverName {width: 100px; left: 530px;}
    &.receiverName:after {content: ''; display: block; position: absolute; top: 0; right: 0; width: 8px; height: 100%; background: linear-gradient(90deg, #211F1C 0%, rgba(33, 31, 28, 0) 100%); opacity: 0.04;}
}

td.status {
    span.badge {height:26px; font-weight:700;}
    span.badge.st0 {background: #FAE6EA; color: #E52E4D;}
    span.badge.st1 {background: #EBECF0; color: #292C33;}
    span.badge.st2 {background: #E5EEFF; color: #3355ff;}
}

td.fixHeader {
    .badge.PAYED {background: #E55C73}
    .badge.DELIVERY_WAITING {background: #29CC96}
    .badge.DELIVERING {background: #FFB31A}
    .badge.DELIVERED {background: #4560E5}
    .badge.PURCHASE_DECIDED {background: #CB45E5}
    .badge.CLAIM {background: #737780}
    .badge {height:26px; font-weight:700;}
    .badge.PAYED {background: #FAE6EA; color: #E50026;}
    .badge.DELIVERY_WAITING {background: #D7FAEE; color: #00997F;}
    .badge.DELIVERING {background: #E6EEFF; color: #3355FF;}
    .badge.DELIVERED {background: #EDE1FA; color: #9933FF;}
    .badge.PURCHASE_DECIDED {background: #EBECF0; color: #292C33;}
    .badge.CLAIM {background: #EBECF0; color: #292C33;}
}